.mobile-menu-wrapper {
  .hamburger {
    font-size: 4rem;
    background: none;
    border: none;
    padding: 10px;
    margin-right: 30px;
    cursor: pointer;
    z-index: 100;
  }

  .mobile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #eee9e6ff;
    max-height: 0;
    width: 90vw;
    overflow: hidden;
    transition: max-height 0.5s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    &.open {
      max-height: 85vh;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 1px;

      li {
        padding: 5px;
        font-size: 1.5em;
        border-bottom: 1px solid #ccc;

        a,
        span {
          color: #000;
          text-decoration: none;
          display: block;
          cursor: pointer;
        }

        .sub-menu {
          margin-top: 5px;
          padding-left: 15px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.4s ease;
          pointer-events: none;

          &.open {
            max-height: 500px;
            pointer-events: auto;
          }

          li {
            font-size: 1em;
            padding: 5px 0;
          }
        }
      }
    }
  }
}
