@import "styles/variables/colors.scss";
@import "styles/variables/mqueries.scss";
#institucional{

    & > header {
        width: 100%;
        position: relative;
        height: 180px;
        background-color: #008dc2;
        z-index: 30;
        
        & .fondo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("/images/fondo_header_site.png"), url("/images/fondos/fondo4_fino.jpg");
            background-size: cover;
            background-position: center 25%;
            z-index: 31;
        }
    
        & h1 {
            position: absolute;
            top: 70px;
            left: 120px;
            color:
            #fff;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 40px;
            line-height: 40px;
            text-shadow: 0 0 20px
            #008dc2,0 0 20px #008dc2;
            z-index: 32;
    
            @media #{$all-narrow} {
                width: 80%;
                margin: 10%;
                font-size: 30px;
                text-align: center;
                top: 0;
                left: 0;
            }
        }
      }

    & .inst-fila{
        display: inline-flex;
        flex-wrap: wrap;
        flex: 1 20%;
        align-items: auto;
        margin: auto;
        align-content: center;
        @media #{$all-narrow} {
            display: inherit;
        }
        &.unica {
            display: flex !important;
            justify-content: center;
            color:white;
            text-align: center;
            & h3{
                margin-bottom: 10px;
            }
            & p {
                margin-bottom: 10px;
            }
        }
    }
    & .inst-card{
        //background-color: $background-1;
        background: $background-1 ;
        margin: 10px 10px;
        padding: 10px 50px;
        & h3{
            font-size: 18px;
        }
        & p {
            font-size: 15px;
        }
    }
    
}
