@import "styles/variables/colors.scss";
@import "styles/variables/mqueries.scss";
#buscar-carreras{
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
    text-align: center;
    padding-top: 40px;
    & h1{
        font-size:2.5em;
        color: #333;
        font-weight: normal;
        margin-bottom: 20px;
        padding-top: 5px;
        border-top:1px solid #333;
        text-align: left;
    }    
    & input {
        background-color: rgb(235, 235, 235);
        font-size: 1.2em;
        line-height: 10px;
        border: 2px solid rgb(158, 158, 158);
        border-radius: 10px;
        justify-content: center;
        margin: 25px;
        width: 30vw;
        transition: border-radius .8s;
        padding:12px;
        &:focus{
            border-radius: 0px;
            & ~ .button{
                border-radius: 20px;
            }
        }
        @media #{$all-narrow} {
            width: 50vw;
        }
    }
    & .button {
        background-color: #333;
        padding:15px 30px ;
        color: #fff;
        transition:border-radius .8s;
        
    }
}