.dropdown-menu {
  position: fixed; // Posición fija para que esté debajo del header
  top: 60px; // Justo debajo del header (ajusta según la altura del header)
  left: 0;
  right: 0;
  background-color: #0a2a4d; // Color más oscuro que el header (#10396d)
  width: 100%; // Ocupa todo el ancho
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 0; // Inicialmente oculto
  transition: max-height 1.5s; // Animación de 1.5 segundos

  &.open {
    max-height: 500px; // Altura máxima para mostrar el menú
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 10px;

    li {
      font-size: 1.2em;
      color: #fff;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #10396d; // Color del header al hacer hover
      }
    }
  }
}
