#main-menu {
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background-color: #122f4f;
  z-index: 50;
  color: #fff;
}

#main-menu.closed {
  display: none;
}

#main-menu.opened {
  display: block;
}

#main-menu .fondo {
  position: absolute;
  width:100%;
  height:100%;
  background-image: url('/images/rionegro.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index:10;
}

#main-menu .menu-delegaciones {
  position:absolute;
  width:35%;
  height:100%;
  left:0;
}

#main-menu .menu-delegaciones .fondo-menu-delegaciones {
  position:absolute;
  width:100%;
  height:100%;
  background-color: #193f69;
  opacity:0.97;
  z-index:20;
}

#main-menu .menu-delegaciones .menu-logo {
  position:absolute;
  top: 80px;
  left:100px;
  z-index:21;
}

#main-menu .menu-delegaciones .menu-logo img {
  width:300px;
}

#main-menu .menu-delegaciones .delegaciones {
  position:absolute;
  top: 200px;
  left:180px;
  bottom: 100px;
  right: 50px;
  z-index:21;

}
#main-menu .menu-delegaciones .delegaciones header {
  font-size: 2em;
}

#main-menu .menu-delegaciones .delegaciones ul {
  margin:20px;
}

#main-menu .menu-delegaciones .delegaciones li {
  margin:10px;
  list-style: none;
}

#main-menu .menu-delegaciones .delegaciones li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

#main-menu .menu-delegaciones .delegaciones li a.active {
  color: #00ffff;
}

#main-menu .menu-principal {
  position:absolute;
  width:65%;
  height:100%;
  left:35%;
}

#main-menu .menu-principal .fondo-menu-principal {
  position:absolute;
  width:100%;
  height:100%;
  background-color: #122f4f;
  opacity:0.97;
  z-index:20;
}

#main-menu .menu-principal .menu-closer {
  position: absolute;
  right: 60px;
  top: 40px;
  font-size: 3em;
  cursor: pointer;
  z-index:21;
}

#main-menu .menu-principal ul.menu {
  position:absolute;
  left:100px;
  top:100px;
  z-index:21;
}

#main-menu .menu-principal nav.menu li {
  margin:20px;
  list-style: none;
}

#main-menu .menu-principal nav.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5em;
  text-transform: uppercase;
}

#main-menu .menu-principal nav.menu li a:hover {
  text-transform: lowercase;
  font-style: italic;
}

#main-menu .menu-principal nav.menu li a.active {
  color: #00ffff;
}
