.card {
  margin: 20px;
  box-sizing: border-box;
  width:200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  background-color: #f1f1f1;
  
  & h2{
      text-align: left;
  }
  & .descripcion {
      margin-top:20px;
  }
  & .readMore{
      font-size: 1.3em;
      margin-top:20px;
      font-weight: bold;
      float:left;
      & a {
        color: #333;
        text-decoration: none;
      }
  }
  & .icons {
      margin-top:20px;
      float:right;
      display: flex;
      & i{
        font-size: 1.3em;
        padding: 4px;
        border: 1px solid black;
        margin: 2px;
        border-radius: 5px;
      }
  }
  $separate-top: 50;
  @for $i from 1 through 100 {
    .c#{$i} {
      top: $separate-top;
    }
    $separate-top: $separate-top + 50;
  }
  &.hidden {
    opacity: 0;
    // animacion
    animation-name: card-animation-hidden;
    //tiempo de duracion
    animation-duration: 1s;
    // velocidad lineal, reproduce a la misma velocidad
    animation-timing-function: linear;
    // quedarse en el ultimo estilo del fotograma
    animation-fill-mode: forwards;
    
  }
  &.shows {
     // animacion
    animation-name: card-animation;
    //tiempo de duracion
    animation-duration: 1s;
    // velocidad lineal, reproduce a la misma velocidad
    animation-timing-function: linear;
    // quedarse en el ultimo estilo del fotograma
    animation-fill-mode: forwards;
  }
}

@keyframes card-animation {
  0% { //al inicio
    opacity: 0.5;
  }
  50% { // mitad de tramo
    opacity: 0.7;
  }
  100% { //fin de tramo
    opacity: 1;
    transform: translateX(30px);
  }
}
@keyframes card-animation-hidden {
  0% { //al inicio
    opacity: 1;
  }
  50% { // mitad de tramo
    opacity: 0.7;
  }
  100% { //fin de tramo
    opacity: 0;
    transform: translateX(-30px);
   
  }
}