@import "styles/variables/colors.scss";
@import "styles/variables/mqueries.scss";

$actual-color: $background-2;

.card {
    margin: 20px;
    box-sizing: border-box;
    width:200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    background-color: #f1f1f1;
    & h2{
        text-align: left;
    }
    & .descripcion {
        margin-top:20px;
    }
    & .readMore{
        margin-top:20px;
        font-weight: bold;
        float:left;
    }
    & .icons {
        margin-top:20px;
        float:right;
        display: flex;
    }
}