@import "styles/variables/colors.scss";
@import "styles/variables/mqueries.scss";

#home-novedades {
  position: relative;
  width: 100%;
  background-color: #eee9e6ff;
  padding-top: 40px;
}

#home-novedades::before {
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  width: 20%;
  height: 98%;
  background-color: #c0b6b4ff;
}

#home-novedades .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* cambia de space-between a center */
  gap: 20px; /* en lugar de margin manual, para mantener separación uniforme */
  margin: 30px auto 0 auto;
  padding-bottom: 60px;
  width: 95%;
  position: relative;
  z-index: 1;
}

#home-novedades .list article {
  overflow: hidden;
  background-color: #eee9e6ff;
  max-width: 30%;

  @media (max-width: 1000px) {
    width: 90%;
    max-width: 600px;
  }
}

#home-novedades .list article .fecha {
  display: none;
}

#home-novedades .list article header {
  //height: 30px;
  display: none;
}
// NOTE: descomentar si se quiere el area, y los "display"
/*
#home-novedades .list article .area {
  width: 100%;
  float: right;
  text-align: center;
  box-sizing: border-box;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-top: 6px;
  background-color: #193f69;
  font-size: 1em;
}
*/
#home-novedades .list article .area a {
  color: #fff;
  text-decoration: none;
  display: none;
}

#home-novedades .list article .area a:hover {
  color: #aaa;
  display: none;
}

#home-novedades .list article .image_container {
  margin: 0px;
}

#home-novedades .list article .image_container .image_wrapper {
  width: 100%;
  position: relative;
  top: 0px;
}

#home-novedades .list article .image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-novedades .list article .titulo {
  clear: both;
  font-size: 1.2em;
  font-family: "Slabo 27px", serif;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  @media (max-width: 700px) {
    font-size: 1em;
  }
}

article .resumen {
  padding: 9px;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  //text-align: center;
  @media (max-width: 700px) {
    font-size: 1em;
  }
}

#home-novedades .list article .titulo a {
  text-decoration: none;
  color: #21adcaff;
  font-size: 1.1em;
  text-align: left;
  font-weight: bold;
  text-align: center;
}

#home-novedades .link-todas {
  width: 100%;
  text-align: center;
  height: 5em;
}

#home-novedades .link-todas a {
  color: #fff;
  background: #263238;
  padding: 1.5em;
  font-size: 1.2em;
  text-decoration: none;
}

#home-novedades .link-todas a:hover {
  background: #37474f;
}
