@import 'styles/variables/mqueries.scss';

#wp-site-sidebar {
    width:250px;
    background-color: #9ee5ff;
    color: #333;
    box-sizing: border-box;
    padding:10px;
    order: 3;
    flex-shrink: 0;
    
    &.close {
        transition: margin .8s;
        margin-right:-250px;
    }
    &.open{
        transition: margin .8s;
        margin-right:0px;
    }
}