#wp-site-menu {
    width:250px;
    background-color: #9ee5ff;
    color: #333;
    box-sizing: border-box;
    padding:10px;
    order: 1;
    flex-shrink: 0;
    &.close {
        transition: margin .8s;
        margin-left:-250px;
    }
    &.open{
        transition: margin .8s;
        margin-left:0px;
    }
    
}

//#wp-site-menu nav.menu ul {}

#wp-site-menu nav.menu li {
    list-style: none;
    margin: 5px 0;
}

#wp-site-menu nav.menu li a {
    text-decoration: none;
    font-size: 1em;
    color: #333;
}