@import "styles/variables/colors.scss";

#wp-site-header {
    width:100%;
    position:relative;
    height: 180px;
    background-color: #008dc2;
}

#wp-site-header h1 {
   position: absolute;
   top: 33%;
   left: 80px;
   color: #fff;
   font-size: 3.5em;
   font-weight: 300;

}