@import "styles/variables/colors.scss";

#wp-site-header {
    width:100%;
    position:relative;
    height: 60px;
    background-color: #008dc2;
    color: #fff;
}

#wp-site-header h1{
   padding-top:18px;
   text-align: center;
}