@import 'styles/variables/mqueries.scss';

#wp-site-sidebar {
    width:15vw;
    background-color: #9ee5ff;
    color: #333;
    box-sizing: border-box;
    order: 3;
    flex-shrink: 0;
    padding:10px 20px 20px 10px;
    &.close {
        transition: .8s;
        width:0px;
        padding:0px;
        overflow: hidden;
    }
    &.open{
        transition: .8s;
        width:15vw;
    }
}