@import 'styles/variables/mqueries.scss';

#wp-site-menu {
    background-color: #9ee5ff;
    color: #333;
    box-sizing: border-box;
    padding:10px 20px;
    order: 1;
    flex-shrink: 0;
    transition: margin-left 1s;
    z-index: 40;

    @media #{$all-wide} {
        width: 300px;
    }

    @media #{$square} {
        width: 180px;
    }

    @media #{$all-narrow} {
        position: absolute;
        left: 0;
        width: 250px;
        top: 0;
        min-height: 500px;
        transition: left 1s;
        box-shadow: 3px 3px 10px #777;
    }
}

#wp-site-menu.closed{
    @media #{$all-wide} {
        margin-left: -300px;
    }
    @media #{$square} {
        margin-left: -180px;
    }
    @media #{$all-narrow} {
        left: -250px;   
    }
}

//#wp-site-menu nav.menu ul {}

#wp-site-menu nav.menu li {
    list-style: none;
    position:relative;
    margin: 10px;
    margin-bottom: 20px;
}

#wp-site-menu nav.menu li a {
    text-decoration: none;
    font-size: 1em;
    color: #10396d;
}


#wp-site-menu nav.menu li a:hover {
    color: #008dc2;
}

#wp-site-menu nav.menu li .image_container {
    width: 16px;
    position: absolute;
}

#wp-site-menu nav.menu li .image_container img {
    width:100%;
}

#wp-site-menu nav.menu li span {
    font-size: 1.2em;
}

#wp-site-menu nav.menu li .image_container + span {
    margin-left: 25px;
}

