#fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #10396d;
  color: #fff;
  z-index: 80;
  box-shadow: 0 0 5px #000;
  display: flex; // Usamos flexbox para alinear logo y menú
  align-items: center;
  justify-content: space-between; // Logo a la izquierda, menú a la derecha
  padding: 0 20px; // Espaciado a los lados
}

#fixed-header.hidden {
  display: none;
}

#fixed-header.visible {
  display: flex; // Mantenemos flex para alinear los elementos
}

#fixed-header .logo {
  max-height: 70px;
  display: flex; // Hacemos que el contenedor del logo use flexbox
  align-items: center; // Alineamos verticalmente los elementos
}

#fixed-header .logo img {
  height: 75px;
}


.logo .logo-text {
  color: #fff;
  margin-left: 15px; // Añadimos un margen para separar el texto del logo
}

.logo .logo-text .titulo {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  margin-top: 5px;
}

.logo .logo-text .descripcion {
  color: #fff;
  font-size: 0.9em;

}

