@import 'styles/variables/mqueries.scss';

#home-inicio-menu {
  position: absolute;
  bottom: 15vh;
  right: 15%;
  width: 25%;
  height: auto;
  z-index: 30;
  color: #fff;
  @media #{$all-narrow} {
    width:auto;
    top: 58vh;
    bottom: 15px;
    left: 2vw;
    right: 2vw;
  }
}

#home-inicio-menu nav.menu > ul {
  @media #{$all-narrow} {
    display: flex;
    flex-wrap: wrap;
  }
}

#home-inicio-menu nav.menu li {
  margin:5px;
  padding:10px;
  list-style: none;
  text-align: right;
  background: transparent;
  @media #{$all-narrow} {
    margin: 20px 1%;
    padding: 0;
    width: 48%;
    text-align:center;
  }
}

#home-inicio-menu nav.menu li .image_wrapper {
  display:none;
}

#home-inicio-menu nav.menu li.submenu-active {
  background-color: #10396d;
}

#home-inicio-menu nav.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight:bold;
}

#home-inicio-menu nav.menu li a:hover {
  font-style: italic;
  color: #ccc;
}

#home-inicio-menu nav.menu li a.active {
  color: #00ffff;
}
